.container {
  font-family: Arial, sans-serif;
}

header {
  background-color: #ff6f61;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

button {
  border: 1px solid #ff6f61;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

title {
  margin: 0;
  font-size: 2rem;
}

nav {
  margin-top: 10px;
}

main {
  padding: 20px;
}